.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@include m(xl) {
			display: block;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); // sass-lint:disable-line no-color-literals
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				@include hover {
					& > ul {
						left: 100%;
					}
				}

				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li {
			@include hover {
				ul {
					left: auto;
				}
			}

			&.focus {
				ul {
					left: auto;
				}
			}
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			//sass-lint:disable-block no-empty-rulesets
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	&.toggled {
		ul {
			display: block;
		}
	}
}

// Small menu.
.menu-toggle {
	display: block;
	@include m(xl) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
