h1,
.h1 {
	@include ff($h1-font-size, $h1-font-size + 8, $headings-font-weight);
	font-family: $font-family-headings;
	margin-bottom: $headings-margin-bottom;
}

h2,
.h2 {
	@include ff($h2-font-size, $h2-font-size + 8, $headings-font-weight);
	font-family: $font-family-headings;
	margin-bottom: $headings-margin-bottom;
}

h3,
.h3 {
	@include ff($h3-font-size, $h3-font-size + 8, $headings-font-weight);
	font-family: $font-family-headings;
	margin-bottom: $headings-margin-bottom;
}

h4,
.h4 {
	@include ff($h4-font-size, $h4-font-size + 8, $headings-font-weight);
	font-family: $font-family-headings;
	margin-bottom: $headings-margin-bottom;
}

h5,
.h5 {
	@include ff($h5-font-size, $h5-font-size + 8, $headings-font-weight);
	font-family: $font-family-headings;
	margin-bottom: $headings-margin-bottom;
}

h6,
.h6 {
	@include ff($h6-font-size, $h6-font-size + 8, $headings-font-weight);
	font-family: $font-family-headings;
	margin-bottom: $headings-margin-bottom;
}
