body,
button,
input,
select,
optgroup,
textarea {
	@include font-size(1);
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
	color: $text-main;
	font-family: $font-family-base;
	line-height: $line-height-base;
}
