ul,
ol {
	margin: 0 0 $spacer $spacer;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $spacer;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 $spacer $spacer;
}
