// sass-lint:disable no-ids, id-name-format
@import "00-vars/*";
@import "01-mixins/*";

body,
html {
	height: 100%;
	margin: 0;
	min-height: 100%;
	overflow: auto;
	padding: 0;
	width: 100%;
}

body {
	background-size: cover;
}

.login {
	form {
		color: $w;
		background: $login-form-bg;
		border: 0;
		box-shadow: 0 2px 0 darken($login-form-bg, 10%);

		.forgetmenot {
			float: none;
			text-align: center;
		}
	}

	h1 {
		a {
			background-image: url("../img/logo.png");
			background-size: 210px;
			height: 80px;
			width: 210px;
		}
	}

	label {
		color: $w;
	}

	.button {
		float: none;
		text-shadow: none;
		background: $login-btn-bg;
		border: 0;
		box-shadow: 0 2px 0 $login-form-bg;
		color: $w;
		cursor: pointer;
		display: block;
		font: 300 14px/38px "Open Sans", "Arial", sans-serif;
		text-align: center;
		text-transform: uppercase;
		width: 160px;
		height: auto;
		margin: 20px auto 0;

		&:hover {
			opacity: .75;
		}
	}

	#backtoblog,
	#nav {
		text-align: center;
	}

	.message,
	#login_error {
		background: opacity($b, 0.2);
		border-color: $grey;
		color: $w;
	}

	.custom-footer-link {
		text-align: center;
	}
}
