//Colors
$b: #000;
$w: #fff;
$grey: #444;
$dark-grey: #888;

//Generic
$background-body: #fff;

$background-hr: #ccc;
$background-button: #e6e6e6;
$background-pre: #eee;

$text-screen: #21759b;
$text-input: #666;
$text-input-focus: #111;
$link: #4169e1;
$link-visited: #800080;
$link-hover: #191970;
$text-main: #404040;

$border-button: #ccc #ccc #bbb;
$border-button-hover: #ccc #bbb #aaa;
$border-button-focus: #aaa #bbb #bbb;
$border-input: #ccc;
$border-abbr: #666;

$color-button: #000;


//Contact Form 7
$response-output: #f00;
$sent-ok: #398f14;
$spam-block: #ffa500;
$validation-error: #f7e700;
$cf7-aborted: #f00;
$not-valid-tip: #f00;

//Login Colors
$login-form-bg: rgba(52, 152, 219, .75);
$login-btn-bg: rgb(46, 204, 113);

// Default doesn't require changes
$text-screen: #21759b;
$background-screen: #f1f1f1;
