// Typography
//
// Font, line-height, and color for body text, headings, and more.

$spacer: 1rem;

// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-sans-serif;
$font-code: $font-family-monospace;
$font-pre: "Courier 10 Pitch", courier, monospace;
// stylelint-enable value-keyword-case

$font-size-base: 16; // Assumes the browser default, typically `16px`

$font-weight-base: 400;
$line-height-base: 1.75;

$h1-font-size: $font-size-base * 2.625; //42
$h2-font-size: $font-size-base * 2.25; //36
$h3-font-size: $font-size-base * 2; //32
$h4-font-size: $font-size-base * 1.5; // 24
$h5-font-size: $font-size-base * 1.25; //20
$h6-font-size: $font-size-base; // 16

$h1-line-height: $font-size-base * 2.625 + 10;
$h2-line-height: $font-size-base * 2.25 + 8;
$h3-line-height: $font-size-base * 2 + 8;
$h4-line-height: $font-size-base * 1.5 + 8;
$h5-line-height: $font-size-base * 1.25 + 8;
$h6-line-height: $font-size-base + 8;

$headings-margin-bottom: $spacer;
$headings-font-weight: 600;
