// sass-lint:disable-all

.wpcf7 {
	.screen-reader-response {
		position: absolute;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		width: 1px;
		margin: 0;
		padding: 0;
		border: 0;
	}

	form {
		.wpcf7-response-output {
			margin: 2em 0.5em 1em;
			padding: 0.2em 1em;
			border: 2px solid $cf7-blue; /* Blue */
		}

		&.init .wpcf7-response-output {
			display: none;
		}

		&.sent .wpcf7-response-output {
			border-color: $cf7-green; /* Green */
		}

		&.failed .wpcf7-response-output,
		&.aborted .wpcf7-response-output {
			border-color: $cf7-red; /* Red */
		}

		&.spam .wpcf7-response-output {
			border-color: $cf7-orange; /* Orange */
		}

		&.invalid .wpcf7-response-output,
		&.unaccepted .wpcf7-response-output {
			border-color: $cf7-yellow; /* Yellow */
		}
	}

	input[type="url"],
	input[type="email"],
	input[type="tel"] {
		direction: ltr;
	}
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: $cf7-red;
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid $cf7-red;
	background: $w;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
	content: " ";
}

div.wpcf7 {
	.ajax-loader {
		visibility: hidden;
		display: inline-block;
		background-image: url("../img/black-loader.svg");
		width: 16px;
		height: 16px;
		border: 0;
		padding: 0;
		margin: 0 0 0 4px;
		vertical-align: middle;
	}

	.ajax-loader.is-active {
		visibility: visible;
	}

	div.ajax-error {
		display: none;
	}

	.placeheld {
		color: $dark-grey;
	}

	input[type="file"] {
		cursor: pointer;
	}

	input[type="file"]:disabled {
		cursor: default;
	}

	.wpcf7-submit:disabled {
		cursor: not-allowed;
	}
}
