//Colors
$b: #000000;
$w: #ffffff;
$grey: #444444;
$dark-grey: #888888;

//Generic
$background-body: #ffffff;

$background-hr: #cccccc;
$background-button: #e6e6e6;
$background-pre: #eeeeee;

$text-screen: #21759b;
$text-input: #666666;
$text-input-focus: #111111;
$link: #4169e1;
$link-visited: #800080;
$link-hover: #191970;
$text-main: #404040;

$border-button: #cccccc #cccccc #bbbbbb;
$border-button-hover: #cccccc #bbbbbb #aaaaaa;
$border-button-focus: #aaaaaa #bbbbbb #bbbbbb;
$border-input: #cccccc;
$border-abbr: #666666;

$color-button: #000000;



//Contact Form 7
$cf7-red: #dc3232;
$cf7-green: #46b450;
$cf7-orange: #f56e28;
$cf7-yellow: #ffb900;
$cf7-blue: #00a0d2;

// Default doesn't require changes
$text-screen: #21759b;
$background-screen: #f1f1f1;
