//Colors
$color-high-rise-dark-orange: #ff6133;
$color-high-rise-yellow: #ffe70f;
$color-high-rise-pink: #ff3e8f;
$color-high-rise-orange: #ffa500;
$color-black: #000000;
$color-high-rise-dark-grey: #585858;
$color-high-rise-medium-grey: #a3a3a3;
$color-high-rise-light-grey: #dddddd;
$color-white: #ffffff;

$b: #000000;
$w: #ffffff;
$grey: #c4c4c4;
$dark-grey: #888888;

//Generic
$background-body: #ffffff;

$background-hr: #cccccc;
$background-button: #e6e6e6;
$background-pre: #eeeeee;

$text-screen: #21759b;
$text-input: #666666;
$text-input-focus: #111111;
$link: #4169e1;
$link-visited: #800080;
$link-hover: #191970;
$text-main: #404040;

$border-button: #cccccc #cccccc #bbbbbb;
$border-button-hover: #cccccc #bbbbbb #aaaaaa;
$border-button-focus: #aaaaaa #bbbbbb #bbbbbb;
$border-input: #cccccc;
$border-abbr: #666666;

$color-button: #000000;

$box-shadow: 0 0 15px rgba($b, 0.1) !default;


//Contact Form 7
$cf7-red: #dc3232;
$cf7-green: #46b450;
$cf7-orange: #f56e28;
$cf7-yellow: #ffb900;
$cf7-blue: #00a0d2;

// Default doesn't require changes
$text-screen: #21759b;
$background-screen: #f1f1f1;
