$fa-font-path:                "../fonts";
$fa-font-size-base:           16px;
$fa-font-display:             auto;
$fa-css-prefix:               fa;
$fa-version:                  "5.8.2";
$fa-border-color:             #eeeeee;
$fa-inverse:                  #ffffff;
$fa-li-width:                 2em;
