.wpcf7 {
	margin: 0;
	padding: 0;

	// for more loader icons check https://loading.io/
	.ajax-loader {
		visibility: hidden;
		display: inline-block;
		background-image: url(../../img/black-loader.svg);
		width: 16px;
		height: 16px;
		border: 0;
		padding: 0;
		margin: 0 0 0 4px;
		vertical-align: middle;

		&.is-active {
			visibility: visible;
		}
	}

	.ajax-error {
		display: none;
	}

	.placeheld {
		color: $dark-grey;
	}

	input[type="file"] {
		cursor: pointer;

		&:disabled {
			cursor: default;
		}
	}

	.wpcf7-submit {

		&:disabled {
			cursor: not-allowed;
		}
	}

	.screen-reader-response {
		position: absolute;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		width: 1px;
		margin: 0;
		padding: 0;
		border: 0;
	}
}

.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid $response-output;
}

.wpcf7-mail-sent-ok {
	border: 2px solid $sent-ok;
}

.wpcf7-mail-sent-ng,
.wpcf7-aborted {
	border: 2px solid $cf7-aborted;
}

.wpcf7-spam-blocked {
	border: 2px solid $spam-block;
}

.wpcf7-validation-errors,
.wpcf7-acceptance-missing {
	border: 2px solid $validation-error;
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: $not-valid-tip;
	font-size: 1em;
	font-weight: 400;
	display: block;
}

// html_class="use-floating-validation-tip"
.use-floating-validation-tip {

	.wpcf7-not-valid-tip {
		position: absolute;
		top: 20%;
		left: 20%;
		z-index: 100;
		border: 1px solid $not-valid-tip;
		background: $w;
		padding: .2em .8em;
	}
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 10px 0 0;
}

.wpcf7-list-item-label {

	&::before,
	&::after {
		content: " ";
	}
}

.wpcf7-display-none {
	display: none;
}
